.form-container {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    padding: 20px;
    border-radius: 20px;
    min-width: 700px;
}
.number-container {
    display: flex;
    justify-content: space-between;
}
.number-block {
    width: 48%;
}
.form-container input {
    width: 100%;
    padding: 8px 4px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;;
}

.form-container input[type=submit] {
    background-color: #8ebf42;
    color: white;
    padding: 7px 0;
    margin: 5px 0;
    border: none;
    cursor: grabbing;
    width: 100%;
}
